header{
    background: yellow;
    /* height: 100px; */
    grid-area: h;
    text-align: center;
    line-height: 20vh;
}

main{
    background: blue;
    color: white;
    /* height: 100px; */
    grid-area: m;
    text-align: center;
    line-height: 70vh;
}

aside{
    background: green;
    color: white;
    /* height: 100px; */
    grid-area: a;
    text-align: center;
    line-height: 70vh;
}
footer{
    background: red;
    color: white;
    /* height: 100px; */
    grid-area: f;
    text-align: center;
    line-height: 10vh;
}

.container{
    display: grid;
    grid-template-columns: 3fr 1fr; /* a primeira coluna fica com 3 frações da tela e a segunda com 1 fração / simulando -> 75% main e 25% aside*/
    grid-template-rows: 20vh 70vh 10vh; /*20% da área visivel .......*/
    grid-template-areas: "h h" "m a" "f f";

}

