body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lampada{
    background-image: url('../Imagem/apagada.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    width: 400px;
    height: 400px;

}

.ligado{
    background-image: url('../Imagem/liagada.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    width: 400px;
    height: 400px;

}