<!-- <cartao 
    tituloCartao="Beba água" 
    textoCartao="Bebe muita água!!!" 
    corDaBorda="rgb(22, 139, 169)" 
    imagem="/assets/água.png" 
    (deletarCartao)="deletarCartao1($event)"
    [style]="estiloDoCartao"
    
    ></cartao> -->

<!-- <br>

<cartao tituloCartao="Outra Mensagem" textoCartao="HELLO" corDaBorda="purple" imagem="/assets/poro.png"></cartao>

<br>
<img src="/assets/poro.png" alt="">

<cartao></cartao> 

 -->

<!-- 
<div class="container">
     <input #inputTexto type="text">
     <p>{{inputTexto.value}}</p>
 </div> 

 essas duas formas funcionam

 <div class="container">
    <input type="text" #inputTexto (input)="mudarTexto(inputTexto.value)">
    <p>{{texto}}</p>
</div> -->

<div class="container">
 <!--    <cartao 
    tituloCartao="Beba água" 
    textoCartao="Bebe muita água!!!" 
    corDaBorda="rgb(22, 139, 169)" 
    imagem="/assets/água.png" 
    (deletarCartao)="deletarCartao1($event)"
    [style]="estiloDoCartao"
    #cartao1
    ></cartao>

    <p>{{cartao1.corDaBorda}}</p> -->
    <p #para>Olá mundo!</p>

</div>